<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../../css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centred"> 
                <h1 ><%= product.title %></h1>
                <hr>
                <div >    
                    <img src="<%= product.imageUrl %>"
                        alt="<%= product.title %>">
                </div>
               
                    <h2 class="product__price">$<%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                <form action="/cart" method="post">
                    <button class="btn" type=""></button>
                </form>
        </main>
        <%- include('../includes/end.ejs') %>